{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    {% load static %}
    <div class="container py-5">
        <h1 align='center'>Об авторе проекта</h1>
        <br>
        </p>
        <br>
        <p>
            Привет, меня зовут Дмитрий
        </p>
        <p>
            Я живу в городе Москва.
        </p>
        <p>
            Увлекаюсь языками 
        </p>
        <p>
            <ul>
                <li>
                    Мой GitHub: <a href='https://github.com/ZonomPy'>GitHub</a>
                </li>
            </ul>
        </div>
{% endblock %}