{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
    {% load static %}
    <div class="container py-5">
        <h2 align='center'>Технологии, применяемые на сайте</h2>
        <br>
        <p>
            <ul>
                <li>
                    <b>Python </b> - Высокоуровневый язык программирования общего назначения с динамической строгой типизацией и автоматическим управлением памятью, ориентированный на повышение производительности разработчика, читаемости кода и его качества, а также на обеспечение переносимости написанных на нём программ.
                    <br><img src="{% static 'img/python.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
                </li>
                <li>
                    <b>Django</b> - Джанго (англ. Django) — вымышленный персонаж, ковбой и меткий стрелок, действующий в ряде спагетти-вестернов. Впервые он появился в одноименном итальянском фильме Серджо Корбуччи в исполнении Франко Неро. После грандиозного успеха этой ленты был снят ещё 31 фильм с Джанго, причём этого героя играли разные актёры.
                    <br><img src="{% static 'img/django.jpg' %}" width="40" height="40" class="d-inline-block align-top" alt="">
                </li>
                <li>
                    <b>HTML</b> - Стандартизированный язык гипертекстовой разметки документов для просмотра веб-страниц в браузере. Веб-браузеры получают HTML документ от сервера по протоколам HTTP/HTTPS или открывают с локального диска, далее интерпретируют код в интерфейс, который будет отображаться на экране монитора
                    <br><img src="{% static 'img/html.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
                </li>
            </ul>
        </p>
        <br>
    </div>
{% endblock %}